@tailwind base;
@tailwind components;
@tailwind utilities;

/* this thing below helps with specificity issues or sumn lol */



@layer base {
    @font-face {
        font-family: 'Playfair Display';
        src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,600&display=swap');
    }
}

/*this means only 'a' tags get the treatment */
@layer base {
    a.medium {
        font-family: "Playfair Display";
        font-weight: 500;
        
    }

    a.regular {
        font-family: "Playfair Display";
        font-weight: 400;
     
    }

    pog.pog {
        font-family: "Playfair Display";
        font-weight: 600;
    }


}

